{% extends "base.html" %}
<!-- extended from -->
{% block bread %}
<li class="breadcrumb-item active" aria-current="page">{{title}}</li>
{% endblock bread %}
<!--  -->
{% block body %}
<div class="content-section p-4 cute_border">
    <h1 style="background-color: var(--jumby);" class="text-center p-3">We apologize, something went wrong on our end - <a class="btn-link" href="https://www.westhost.com/knowledgebase/display/WES/What+Is+A+500+error">Error (500)</a></h1>
    <p class="lead">We're having some troubles, please try again later.</p>
</div>
<!-- Endblock -->
{% endblock body %}