{% extends "base.html" %}
<!-- extended from -->
{% block bread %}
<li class="breadcrumb-item" aria-current="page"><a href="{{url_for('reviews.review_list')}}">Reviews</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{{url_for('reviews.full_review', review_id=review.id)}}">{{review.title}}</a></li>
<li class="breadcrumb-item" aria-current="page"><a href="{{url_for('reviews.review_gallery', review_id=review.id)}}">Gallery</a></li>
<li class="breadcrumb-item active" aria-current="page">Picture {{picture.id + 1}}</li>
{% endblock bread %}
<!--  -->
{% block body %}
<section class="container d-flex flex-column bigger_space">
    <article>
        <a class="btn btn-secondary btn-block" href="{{url_for('reviews.review_gallery', review_id=review.id)}}">Back to gallery</a>
    </article>
    <section class="alert alert-warning mt-3" role="alert">
        <p class="mb-0">Some pictures may look blurry and stretched when they're displayed in full screen, but that's due to the picture resolution. I apologize.</p>
        <p class="mb-0">We do not claim ownership on the picture displayed. All the credit goes to their respective artists.</p>
    </section>
    <figure class="cute_border_for_pictures p-2">
        <img class="cute_border_for_pictures w-100" src="{{ url_for('static', filename='/review_pictures/' + picture.picture_file) }}" alt="{{review.title}}">
        <!--  -->
        {% if review.author == current_user %}
        <button type="button" class="btn btn-danger mt-3 btn-block" data-toggle="modal" data-target="#deleteModal">Delete Picture</button>
        <!--  -->
        {% endif %}
    </figure>
</section>
<!-- start modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Delete the picture?</h5>
                <button id="x_symbol" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="lead">This can't be unmade, are you sure you wanna proceed?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <form action="{{url_for('reviews.delete_picture', picture_id=picture.id, review_id=review.id)}}" method="POST">
                    <input class="btn btn-danger float-right" type="submit" value="Delete picture">
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Endblock -->
{% endblock body %}